---
import { formatBlogDate } from "../../util/date";
import type { CollectionEntry } from "astro:content";
import { readTime } from "../../util/readTime";
import ContentTypeIcon from "./ContentTypeIcon.astro";

interface Props {
  posts: Array<CollectionEntry<"content">>;
}

const { posts }: Props = Astro.props;
---

<ul class="flex flex-col gap-6">
  {
    posts.map((post) => (
      <li class="flex flex-col">
        <div class="flex flex-row gap-2">
          <div class="self-end">
            <ContentTypeIcon type={post.data.type} />
          </div>
          <a class="-mb-[2px] text-2xl" href={`/content/${post.slug}`}>
            {post.data.title}
          </a>
        </div>
        <p class="mb-1 ml-[27px] text-sm">
          {formatBlogDate(post.data.published)} • {readTime(post)}
        </p>
      </li>
    ))
  }
</ul>
