---
export interface Props {
  title: string;
  description: string;
  image?: string;
}
const {
  title,
  description,
  image = new URL(
    `https://og.c-ehrlich.dev/api/blog/${JSON.stringify({
      authorImg: "https://avatars.githubusercontent.com/u/459267",
      authorName: 'Alex "KATT" Johansson',
      authorTitle: "Creator of tRPC",
      date: "2021-08-01",
      description:
        "Eiusmod elit id dolor proident Lorem ut quis exercitation velit cupidatat sit occaecat. Fugiat do culpa exercitation quis anim tempor excepteur sit qui dolor ex aute in. Proident magna eiusmod mollit amet tempor aute in. Labore officia Lorem velit adipisicing reprehenderit. Incididunt aute aliqua Lorem qui consectetur eiusmod pariatur ut exercitation ea est mollit quis.",
      readingTimeInMinutes: 5,
      title:
        "This is going to be a really long title for a blog post, it will probably wrap around a few times",
    })}`,
  ),
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Christopher Ehrlich" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />
