---
export interface Props {
  title: string;
  description: string;
  image?: string;
  isBlog?: boolean;
  minRead?: string | undefined;
}

const { title, description, isBlog, minRead } = Astro.props;
const image = new URL(
  Astro.props.isBlog
    ? `https://og.c-ehrlich.dev/api/blog?input=${encodeURIComponent(
        JSON.stringify({
          title,
          minRead: minRead ?? "ERROR missing minRead", // TODO: dont hardcode this lol
        }),
      )}`
    : `https://og.c-ehrlich.dev/api/landing`,
);
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<title>{isBlog ? title : title + " - Christopher Ehrlich"}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Christopher Ehrlich" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />
