---
import Pill from "../Pill.astro";
import { formatBlogDate } from "../../util/date";
import type { CollectionEntry } from "astro:content";

interface Props {
  posts: Array<CollectionEntry<"blog">>;
}

const { posts } = Astro.props;
---

<ul class="flex flex-col gap-6">
  {
    posts.map((post) => (
      <li class="flex flex-col">
        <a class="-mb-[2px] text-2xl" href={`/blog/${post.slug}`}>
          {post.data.title}
        </a>
        <p class="mb-1 text-sm">{formatBlogDate(post.data.published)}</p>
        <div class="flex flex-wrap gap-2">
          {post.data.tags
            .sort((a, b) => a.localeCompare(b))
            .map((tag) => (
              <Pill tag={tag} hashtag={true} resource="blog" />
            ))}
        </div>
      </li>
    ))
  }
</ul>
